* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: rgb(255, 255, 255);
  font-family: AdiHaus;
}
.logo {
  display: block;
  margin: auto;
}
.girl {
  width: 100%;
}
@font-face {
  font-family: AdiHaus;
  src: url("https://assets.codepen.io/6060109/adihaus_regular.ttf");
}
.main {
  color: rgb(205, 58, 36);

  text-align: center;
  margin: 2%;
  font-size: 48px;
}
.sub {
  text-align: center;
  font-weight: bolder;
  font-size: 48px;
  color: rgb(66, 58, 58);
}
.content-container {
  padding: 2%;
  margin: auto;
}
.text-container {
  text-align: center;
  line-height: 28px;
  font-size: 14px;
  font-weight: 400;
}

.input-container input[type="text"],
.input-container input[type="submit"] {
  height: 48px;
}
.input-container input[type="submit"] {
  width: 64px;
}
.input-container input[type="text"] {
  padding: 0px 10px;
}
form {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
input[type="submit"] {
  background: rgb(51, 51, 51);
  color: white;
  font-size: 15px;
  box-shadow: rgba(66, 58, 58, 0.15) 0px 15px 20px 0px;
}
@media only screen and (min-width: 992px) {
  body {
    outline: 1px solid red;
  }

  .girl {
    float: right;
    width: 600px;
    clip-path: polygon(0px 0px, 100% 1%, 100% 100%, 38% 100%);
  }

  .logo {
    margin: 5% 0 0 10%;
  }
}
