* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: AdiHaus;
  src: url("https://assets.codepen.io/6060109/adihaus_regular.ttf");
}

body {
  background-color: rgb(255, 255, 255);
  font-family: AdiHaus;
}

.main-container {
  padding: 10px 80px;
}

.logo {
  display: block;
  margin: 3% auto 0;
  padding-bottom: 5%;
}

.athlete-mobile {
  width: 100%;
}

h2 {
  margin: 0;
  font-size: 48px;
  letter-spacing: 4px;
}
.main {
  color: rgb(205, 58, 36);
  font-weight: 400;
  text-align: center;
}

.sub {
  text-align: center;
  font-weight: 700;
  color: #423a3a;
}

.content-container {
  padding: 2%;
  margin: auto;
}

.text-container {
  text-align: center;
  line-height: 28px;
  font-size: 14px;
  font-weight: 400;
}

.input-container input[type="text"],
.input-container input[type="submit"] {
  height: 48px;
}
.input-container input[type="submit"] {
  width: 64px;
}
.input-container input[type="text"] {
  padding: 0px 10px;
}
form {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
input[type="submit"] {
  background: rgb(51, 51, 51);
  color: white;
  font-size: 15px;
  box-shadow: rgba(66, 58, 58, 0.15) 0px 15px 20px 0px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .athlete-mobile {
    display: none;
  }

  body {
    display: flex;
  }

  .all-container {
    width: 50%;
  }

  .main,
  .sub,
  .text-container {
    text-align: left;
  }

  h2 {
    font-size: 64px;
  }

  .logo {
    margin: 10% 18% 20%;
  }

  p {
    font-size: 16px;
  }

  .desktop-image {
    background: lightblue
      url("https://assets.codepen.io/6060109/athlete-big.png") no-repeat center;
    background-size: cover;
    width: 50%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 48% 100%);
  }
}
